graft server
graft client
graft common
include pyproject.toml
recursive-include po *.po
include MMUD.pot
include dodo.py
include test_client.server.py
include conf.py
include index.rst
include server_documentation.rst